/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  :root {
    --primary: #030a21;
    --green: #37ed81;
  }
  body {
    background-color: black;
  }



  /* Navbar */
  .navbar {
    min-height: 115px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 0 40px;
  }
  .logo img {
    width: 115px;
  }
  .nav-button {
    padding: 14px 20px;
    background-color: inherit;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    cursor: pointer;
  }

  .dropdown-button button:hover {
    color: var(--primary);
    background-color: white;
  }
  .dropdown-button button:hover .down-arrow {
    color: var(--primary);
  }
  .dropdown-button .down-arrow {
    display: inline-block;
    margin-left: 8px;
  }
  .dropdown {
    background-color: white;
    color: var(--primary);

    padding: 20px 35px;
    min-width: 300px;
    border-radius: 10px;
    text-align: left;
    position: absolute;
    top: 120%;
  }
  ul {
    list-style: none;
  }
  .dropdown li {
    padding: 4px 0;
    width: max-content;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .dropdown li:hover {
    transform: skew(-10deg);
    background-color: #37ed81;
  }
  .dropdown-button .nav-button {
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* border: 2px solid rgb(0, 0, 0, 0.2); */
  }
  .dropdown-button {
    position: relative;
  }
  .forward-arrow {
    margin-left: 4px;
    display: inline-block;
    transform: translateY(3px);
  }
  .nav-links {
    margin-left: 3rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
    flex-shrink: 3;
  }

  .nav-link a {
    color: white;
    text-decoration: none;
  }
  .nav-btns {
    margin-left: auto;
  }
  .hamburger span {
    height: 2px;
    background-color: white;
    width: 20px;
    display: inline-block;
  }
  .hamburger {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-left: 1rem;
    padding: 12px;
    background-color: inherit;
    cursor: pointer;
  }

  .nav-inner-links {
    display: flex;
    gap: 2rem;
    flex-grow: 1;
    align-items: center;
  }
  .hide {
    display: none;
  }
  @media screen and (max-width: 850px) and (min-width: 500px) {
    .dropdown {
      right: 0;
    }
    .navbar{
        min-height: 100px;
    }
    .hamburger {
      display: flex;
    }
    .nav-links {
      justify-content: flex-end;
    }
    .nav-inner-links {
      position: absolute;
      flex-direction: column;
      top: 90px;
      right: 30px;
      background-color: white;
      width: 320px;
      border-radius: 15px;
      align-items: flex-start;
      padding: 30px;
    }
    .nav-button {
      color: var(--primary);
      border: 2px solid rgb(0, 0, 0, 0.2);
    }
    .nav-button:hover {
      --green: #37ed81;
      background-color: var(--green);
    }
    .nav-btns {
      color: var(--primary);
      display: flex;
      width: 100%;
      justify-content: stretch;
      flex-direction: column;
      margin-left: 0;
      gap: 1rem;
      padding-top: 20px;
      border-top: 1px solid rgb(0, 0, 0, 0.1);
    }
    .nav-link a {
      text-align: left;
      color: var(--primary);
    }
  }
  @media screen and (max-width: 500px) {
    .dropdown {
      right: 0;
      min-width: 100px;
    }
    .hamburger {
      display: flex;
    }
    .nav-inner-links {
      width: 250px;
    }
    .nav-links {
      margin-left: 0;
      justify-content: center;
    }
    .navbar {
      padding: 0 10px;
      min-height: 90px;
    }
  }